<nav class="navbar navbar-inverse" style="background-color: #0065ff;border-radius: 0;border: none"  >
    <div class="container-fluid" ng-controller="dataCtrl">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/coat_of_arms.png" style="width: 100%" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 3%">
                    <p>Ministerul Jusitiei</p>
                    <p>e-Executor</p>
                </div>
            </div>
        </div>

        <form class="navbar-form navbar-left" ng-repeat="item in items">
            <span style="color: white">Licenta {{item.nr}} , {{item.name}}.</span><br>
            <span>Sediu.{{item.location}} , str {{item.street}}</span><br>
            <span>Tel. tel/fax {{item.telmain}} , {{item.phone}}</span><br>
            <span>Email:{{item.mail}}</span>
        </form>
        <style>
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
            }
        </style>
        <ul class="nav navbar-nav navbar-right" ng-repeat="item in items">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img style="vertical-align: middle;text-align: center;padding-left: 30px;"
                         src="images/user26.png" alt="">
                    <p style="color: white"> {{item.name}}</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">Profile settings</a></li>
                    <li><a href="">LogOut</a></li>
                </ul>
            </li>
            <li>
                <a  href="">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/calendar1.png" alt="">
                    <p style="color: white">Calendar</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/settings.png" alt="">
                    <p style="color: white">Notificare</p>
                </a>
            </li>

        </ul>
    </div>
</nav>

<div class="row" style="margin-right: 0!important;" >
    <div class="col-md-2">
        <div class="">
            <div class="left-menu" style="height: 100vh;width: 100%">
                <div class="accordion">
                    <div class="navigation">
                        <style>
                            .btn {
                                width: 100%;
                            }
                        </style>
                        <br>
                        <button ui-sref="dosareStat" class="btn btn-success"  type="button" id="dosarestat" >Dosare Stat</button>
                        <hr>
                        <button ui-sref="dosarePensiiAlimentare" class="btn btn-success" type="button" id="dosarepensii" >Dosare Pensii Alimentare</button>
                        <hr>
                        <button ui-sref='dosareCivile' class="btn btn-success" type="button" id="civile">Dosare Civile</button>
                        <hr>
                        <button ui-sref="dosareMele" class="btn btn-success" type="button" id="dosaremele">Dosare mele</button>
                        <hr>
                        <button ui-sref="registruIntari" class="btn btn-success" type="button" id="deleteplayer">Rigistru Intrari</button>
                        <hr>
                        <button ui-sref="registruIesirii" class="btn btn-success" type="button" id="deletegame">Registru Iesiri</button>
                        <hr>
                        <button ui-sref="registruServicii" class="btn btn-success" type="button" id="addplayermatch">Registru Servicii</button>
                        <hr>
                        <button ui-sref="rapoarte" class="btn btn-success" type="button" id="deleteplayermatch">Rapoarte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10" style="background-image: url('images/login_quill.png');background-repeat: no-repeat;background-position: right;background-size: 45%">
        <form class="form">
        <div class="row">
            <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Profilul meu</p>
            <hr style="background-color: #1e439b;height: 1px">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Nume:</label>
                    <div class="relative">
                        <input class="form-control" id="name" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" autocomplete="" placeholder="Nume">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Prenume:</label>
                    <div class="relative">
                        <input class="form-control" id="surname" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" autocomplete="" placeholder="Prenume">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Tara:</label>
                    <div class="relative">
                        <input class="form-control" type="city" required="" placeholder="Tara" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Municipiu:</label>
                    <div class="relative">
                        <input class="form-control" type="mun" required="" placeholder="Municipiu" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="email">Cod postal:</label>
                    <div class="relative">
                        <input class="form-control" type="email" required="" placeholder="Cod" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
        </div>



            <div class="form-group">
                <label for="email">Email:</label>
                <div class="relative">
                    <input class="form-control" type="text" maxlength="10"  required="" placeholder="Email">
                    <i class="fa fa-phone"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Addresa:</label>
                <div class="relative">
                    <input class="form-control" type="text" maxlength="10"  required="" placeholder="Addresa">
                    <i class="fa fa-phone"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Licenta Nr.:</label>
                <div class="relative">
                    <input class="form-control" type="text" maxlength="10"  required="" placeholder="Id">
                    <i class="fa fa-phone"></i>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Organizatia:</label>
                <div class="relative">
                    <select class="form-control" name='recommend'>
                        <option value='option-1'>Option 1</option>
                        <option value='option-2'>Option 2</option>
                        <option value='option-3'>Option 3</option>
                    </select>
                </div>
            </div>


            <div class="tright">
                <a href=""><button class="movebtn movebtnsu" type="Submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button></a>
            </div>
        </form>

    </div>
</div>
<style>
    .form {
        max-width: calc(100vw - 40px);
        width: 500px;
        height: auto;
        background: rgba(255, 255, 255, 1);
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #fff;
        padding: 20px 30px;
        box-sizing: border-box;
        position: relative;
    }


    input {
        width: 60%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #bebed2;
        transition: all .3s;
    }
    .form p:before {
        content: attr(type);
        display: block;
        margin: 10px 0 0;
        font-size: 13px;
        color: #5a5a5a;
        float: left;
        width: 40%;
        transition: all .3s;
    }
    button {
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #78788c;
        background: 0;
        color: #5a5a6e;
        cursor: pointer;
        transition: all .3s;
    }
    button:hover {
        background: #78788c;
        color: #fff;
    }
    .tright{
        text-align: right;
    }
    .ui-menu{
        max-height: 150px;
        overflow: auto;
    }
    .ui-menu .ui-menu-item{
        padding:5px;
        font-size: 14px;
    }
    .relative{
        position: relative;
    }
    .relative i.fa:before{
        color: #444;
        padding: 10px;
        position: absolute;
        left: -3px;
        text-align: center;
    }

    .relative i.fa{
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        text-align: center;
        border-radius: 0 4px 4px 0;
        width: 0;
        height: 0;
        z-index: 99;
        border-left: 20px solid transparent;
        transition: all 0.15s ease-in-out;

    }
    .form-control:focus{
        border-color: #1e439b;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(30, 102, 195);
    }
    .relative input:focus + i.fa{
        border-left: 20px solid transparent;
        border-right: 30px solid #1e439b;

    }
    .relative input:focus + i.fa:before{
        color: #fff;
    }
    .input-group .form-control:not(:first-child):not(:last-child),
    .input-group-addon:not(:first-child):not(:last-child),
    .input-group-btn:not(:first-child):not(:last-child){
        border-radius: 0 4px 4px 0;
    }
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
        background-color: #fff;
    }

    /* --- Thanks Message Popup --- */
    .thanks{
        max-width: calc(100vw - 40px);
        width: 200px;
        height: auto;
        background-color: #444;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
        position: absolute;
        top: 20px;
        right: 20px;
        transition: all .3s;
    }
    .thanks h4,
    .thanks p{
        color: #fff;
        text-align: center;
    }

    /* --- Animated Buttons --- */
    .movebtn{
        background-color: transparent;
        display:inline-block;
        width:100px;
        background-image: none;
        padding: 8px 10px;
        margin-bottom:20px;
        border-radius: 0;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.5, 1.65, 0.37, 0.66);
    }
    .movebtnre {
        border: 2px solid #ff5501;
        box-shadow: inset 0 0 0 0 #ff5501;
        color:#ff5501;
    }
    .movebtnsu {
        border: 2px solid #1e439b;
        box-shadow: inset 0 0 0 0 #1e439b;
        color: #1e439b;
    }
    .movebtnre:focus,
    .movebtnre:hover,
    .movebtnre:active {
        background-color: transparent;
        color: #FFF;
        border-color: #ff5501;
        box-shadow: inset 96px 0 0 0 #ff5501;
    }
    .movebtnsu:focus,
    .movebtnsu:hover,
    .movebtnsu:active {
        background-color: transparent;
        color: #FFF;
        border-color: #1e439b;
        box-shadow: inset 96px 0 0 0 #1e439b;
    }


    /* --- Media Queries --- */

    @media only screen and (max-width: 600px) {
        p:before{
            content: attr(type);
            width: 100%
        }
        input{
            width: 100%;
        }
    }
</style>
<script>
    $(function() {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready( function() {
            $(':file').on('fileselect', function(event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if( input.length ) {
                    input.val(log);
                } else {
                    if( log ) alert(log);
                }

            });
        });
    });

    // Function for Specilization Input
    $( function() {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $( "#tags" ).autocomplete({
            source: availableTags
        });
    } );

    // Function for Designation Input
    $( function() {
        var availableTags = [
            "Analyst L1",
            "Analyst L2",
            "Senior Analyst",
            "UI Developer L1",
            "UI Developer L2",
            "Senior UI Developer",
            "Graphics Designer L1",
            "Graphics Designer L2",
            "Senior Graphics Designer",
        ];
        $( "#designation" ).autocomplete({
            source: availableTags
        });
    } );

    $('form').submit(function(){
        $('.thanks').show();
        $('.thanks').delay(2000).fadeOut();
        window.setInterval(function() {
            window.location.reload();
            $('form input#name').focus();
        }, 2500);
        event.preventDefault(); // Here triggering stops
    });

    // Autocomplete for Specialization
    $( "#tags" ).autocomplete({
        source:tags,
        //To select only from the autocomplete
        change: function (event, ui) {
            if (ui.item == null || ui.item == undefined) {
                $(this).val("");
                $(this).attr("disabled", false);
            }
        }
    });

    // Autocomplete for Designation
    $( "#designation" ).autocomplete({
        source:tags,
        //To select only from the autocomplete
        change: function (event, ui) {
            if (ui.item == null || ui.item == undefined) {
                $(this).val("");
                $(this).attr("disabled", false);
            }
        }
    });

</script>