<br><br>
<div class="row" style="vertical-align: middle">
    <div class="col-md-6" style="text-align: right">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">IDNP</p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">
            Nume Prenume
        </p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data nasterii:</p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Adressa Domiciliu</p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Cod Postal</p>

    </div>

    <div class="col-md-6" style="vertical-align: middle">
        <div class="form-group" style="width: 50%;">
            <input class="form-control" type="number" name="email" placeholder="" ng-model="vm.user.idnp" />
        </div>

        <div class="form-group" style="width: 50%;">
            <input class="form-control" type="" name="email" placeholder="" ng-model="vm.user.numeprenume" ng-value="fcreditor" />
        </div>
        <datepicker date-format="yyyy-MM-dd" selector="form-control" style="width: 50%;margin-top: 1%">
            <div class="input-group">
                <input class="form-control" placeholder="Choose a date" ng-model="vm.user.date"/>
                <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
            </div>
        </datepicker>
        <br><br><br>
        <div class="form-group" style="width: 50%;  ">
            <input class="form-control" type="text" name="email" placeholder="" ng-model="vm.user.domiciliu" />
        </div>

        <div class="form-group" style="width: 50%;padding-top: 2%">
            <input class="form-control" type="text" name="email" placeholder="" ng-model="vm.user.codpostal" />
        </div>
    </div>
</div>
