<br><br>
<div class="row">
    <div class="col-md-6" style="text-align: right">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Stare Dosar</p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">
            Institutia Emitenta
        </p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Numarul documentului executoriu</p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data Emiterii</p>
        <br>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Documente</p>

    </div>
    <div class="col-md-6">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 500">{{fstare}}</p>
        <br>
        <div class="form-group recommend-group" style="width: 50%" ng-model="vm.user.inst">
            <select class="form-control" name='recommend'>
                <option value='option-1'>Option 1</option>
                <option value='option-2'>Option 2</option>
                <option value='option-3'>Option 3</option>
            </select>
        </div>

        <div class="form-group" style="width: 50%;">
            <input class="form-control" type="text" name="email" placeholder="" ng-model="vm.user.document" />
        </div>

        <datepicker date-format="yyyy-MM-dd" selector="form-control" style="width: 50%;margin-top: 1%">
            <div class="input-group">
                <input class="form-control" placeholder="Choose a date" ng-model="vm.user.date"/>
                <span class="input-group-addon" style="cursor: pointer">
        <i class="fa fa-lg fa-calendar"></i>
        </span>
            </div>
        </datepicker>
        <br><br><br>
        <div class="row" style="width: 50%">
            <div class="col-md-6">
                <div class="form-group recommend-group">
                    <select class="form-control" name='recommend'>
                        <option value='option-1'>Option 1</option>
                        <option value='option-2'>Option 2</option>
                        <option value='option-3'>Option 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn">Basic</button>

            </div>
        </div>

    </div>
</div>
