<br><br>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group recommend-group" style="width: 100%" ng-model="vm.user.inst">
                    <select class="form-control" name='recommend'>
                        <option value='option-1'>Option 1</option>
                        <option value='option-2'>Option 2</option>
                        <option value='option-3'>Option 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>  Editeaza
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> Sterge
                </button>

            </div>
        </div>

    </div>

</div>
<br>
<div class="row">
    <div class="col-md-4" style="text-align: left">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Numar Dosar</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Institutia emitenta</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Numarul documentului executoiu</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data limita de executare:</p>
    </div>
    <div class="col-md-4">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 500">{{fd}}</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">Instanta de fond</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">ORD9598/432</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">15.08.17</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">25.09.17</p>
    </div>
    <div class="col-md-4">

            <div class="text-left" style="border: solid;">
                <span style="text-align: right"> Executor</span> : &nbsp; <span>Test User</span><br>
                <span style="text-align: right">Asistent</span> : &nbsp; <span>Test Asistent </span>
            </div>

    </div>
</div>
