<br><br>
<div class="row">
    <div class="col-md-4" style="text-align: left">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Cerere</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Alt document</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Document executoiu</p>

    </div>
    <div class="col-md-4">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">345 din 25.09.17</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">Buletin de identitate</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">ORD9598/432</p>
    </div>

</div>
