<br><br>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group recommend-group" style="width: 100%" ng-model="vm.user.inst">
                    <select class="form-control" name='recommend'>
                        <option value='option-1'>Option 1</option>
                        <option value='option-2'>Option 2</option>
                        <option value='option-3'>Option 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>  Editeaza
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> Sterge
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4" style="text-align: left">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Debitor</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">IDNP</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data nasterii</p>
        <hr>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Creditor</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">IDNP</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data Nasterii</p>
        <hr>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Copii</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">IDNP</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #7F8C8D;font-weight: 500">Data Nasterii</p>

    </div>
    <div class="col-md-4">
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 500">{{fdebitor}}</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">2007002028754</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">08.11.69</p>
        <hr>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">{{fcreditor}}</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">2001445669874</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">02.08.74</p>
        <hr>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">Test Child 1</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">&nbsp;</p>
        <p style="font-family: 'Segoe UI',sans-serif;font-size: large;color: #000000;font-weight: 400">02.04.96</p>

    </div>
    <div class="col-md-4">
            <div class="text-left" style="border: solid;">
                <span style="text-align: right"> Executor</span> : &nbsp; <span>Test User</span><br>
                <span style="text-align: right">Asistent</span> : &nbsp; <span>Test Asistent </span>
            </div>
    </div>
</div>
