<br>
<table class="table  table-bordered table-striped myTable">
    <thead>
    <style>
        th {
            background-color: white!important;
            color: #337ab7!important;
            font-weight: 100!important;
        }
    </style>
    <tr>
        <th class="EmpId"><a href="" ng-click="sort('id',$event)">Modalitatea Achitarii
            <span class="{{Header[0]}}"></span>
        </a>

        </th>
        <th style="width: 10%">
            <form>
                <input type="date" class="form-control" placeholder="Suma" ng-model="searchSum">
            </form>
        </th>
        <th class="Email"><a ng-click="sort('creditor')" href=""> Suma
            <span class="{{Header[2]}}"></span></a>
        </th>
        <th class="Email"><a ng-click="sort('creditor')" href=""> Stare
            <span class="{{Header[2]}}"></span></a>
        </th>

        <th class="Email">
            Activitatii
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: right!important;">
                <input type="checkbox" s ng-model="all">
                <span class="checkbox-placeholder" ></span>
            </label>
        </th>



    </tr>
    </thead>
    <tbody >
    <tr>
        <td>Suma fixa</td>
        <td>05-Oct-2017</td>
        <td>1200 MDL</td>
        <td>Executat</td>

        <td>
            <button type="button" class="" style="width: 30%">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: right!important;">
                <input type="checkbox" ng-checked="all">
                <span class="checkbox-placeholder" ></span>
            </label>

        </td>
    </tr>
    </tbody>
</table>
<ul class="pagination pagination-sm">
    <li ng-class="{active:0}"><a href="" ng-click="firstPage()">First</a>

    </li>
    <li ng-repeat="n in range(ItemsByPage.length)"><a href="" ng-click="setPage()" ng-bind="n+1">1</a>

    </li>
    <li><a href="" ng-click="lastPage()">Last</a>

    </li>
</ul>