<nav class="navbar navbar-inverse" style="background-color: #0065ff;border-radius: 0;border: none"  >
    <div class="container-fluid" ng-controller="dataCtrl">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/coat_of_arms.png" style="width: 100%" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 3%">
                    <p>Ministerul Jusitiei</p>
                    <p>e-Executor</p>
                </div>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right" ng-repeat="item in items">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img style="vertical-align: middle;text-align: center;padding-left: 30px;"
                         src="images/user26.png" alt="">
                    <p style="color: white"> {{item.name}}</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="settings()" >Profile settings</a></li>
                    <li><a href="" ng-click="">LogOut</a></li>
                </ul>
            </li>
            <li>
                <a  href="">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/settings.png" alt="" >
                    <p style="color: white">Settings</p>
                </a>
            </li>


        </ul>
    </div>
</nav>
<br>

<div class="row" style="margin-left: 0!important;margin-right: 0!important;">
    <div class="col-md-12">

        <div id="wizard-container" ng-controller="buttonCtrlinAdminPanel as vm">
            <div id="wizard-step-container">
                <ul class="nav nav-pills nav-justified" style="width: 50%">
                    <li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}">
                        <a ng-click="vm.gotoStep(step.step)" href="">{{step.step}}. {{step.name}}</a>
                    </li>
                </ul>
            </div>

            <div id="wizard-content-container">
                <ng-include src="vm.getStepTemplate()"></ng-include>
            </div>

        </div>

    </div>
</div>




