<nav class="navbar navbar-inverse" style="background-color: #0065ff;border-radius: 0;border: none"  >
    <div class="container-fluid" ng-controller="dataCtrl">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/coat_of_arms.png" style="width: 100%" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 3%">
                    <p>Ministerul Jusitiei</p>
                    <p>e-Executor</p>
                </div>
            </div>
        </div>

        <form class="navbar-form navbar-left" ng-repeat="item in items">
            <span style="color: white">Licenta {{item.nr}} , {{item.name}}.</span><br>
            <span>Sediu.{{item.location}} , str {{item.street}}</span><br>
            <span>Tel. tel/fax {{item.telmain}} , {{item.phone}}</span><br>
            <span>Email:{{item.mail}}</span>
        </form>
        <style>
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
            }
        </style>
        <ul class="nav navbar-nav navbar-right" ng-repeat="item in items">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img style="vertical-align: middle;text-align: center;padding-left: 30px;"
                         src="images/user26.png" alt="">
                    <p style="color: white"> {{item.name}}</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="settings()" >Profile settings</a></li>
                    <li><a href="" ng-click="">LogOut</a></li>
                </ul>
            </li>
            <li>
                <a  href="">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/calendar1.png" alt="" ng-click="">
                    <p style="color: white">Calendar</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/settings.png" alt="">
                    <p style="color: white">Notificare</p>
                </a>
            </li>

        </ul>
    </div>
</nav>

<div class="row" style="margin-right: 0!important;" >
    <div class="col-md-2">
        <div class="">
            <div class="left-menu" style="height: 100vh;width: 100%">
                <div class="accordion">
                    <div class="navigation">
                        <style>
                            .btn {
                                width: 100%;
                            }
                        </style>
                        <br>
                        <button ui-sref="dosareStat" class="btn btn-success"  type="button" id="dosarestat" >Dosare Stat</button>
                        <hr>
                        <button ui-sref="dosarePensiiAlimentare" class="btn btn-success" type="button" id="dosarepensii" >Dosare Pensii Alimentare</button>
                        <hr>
                        <button ui-sref='dosareCivile' class="btn btn-success" type="button" id="civile">Dosare Civile</button>
                        <hr>
                        <button ui-sref="dosareMele" class="btn btn-success" type="button" id="dosaremele">Dosare mele</button>
                        <hr>
                        <button ui-sref="registruIntari" class="btn btn-success" type="button" id="deleteplayer">Rigistru Intrari</button>
                        <hr>
                        <button ui-sref="registruIesirii" class="btn btn-success" type="button" id="deletegame">Registru Iesiri</button>
                        <hr>
                        <button ui-sref="registruServicii" class="btn btn-success" type="button" id="addplayermatch">Registru Servicii</button>
                        <hr>
                        <button ui-sref="rapoarte" class="btn btn-success" type="button" id="deleteplayermatch">Rapoarte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10" ng-controller="calendarCtrl">
        <div  id='calendar'>
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Eveniment nou</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="col-xs-4" for="title">Eveniment</label>
                                    <input type="text" name="title" id="title" style="width: 60%"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="col-xs-4" for="starts-at">Incepe la</label>
                                    <input type="text" name="starts_at" id="starts-at" style="width: 60%" />
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="col-xs-4" for="ends-at">Se termina la</label>
                                    <input type="text" name="ends_at" id="ends-at" style="width: 60%"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" style="width: 100%" data-dismiss="modal">Close</button>
                            <br><br>
                            <button type="button" class="btn btn-primary" style="width: 100%" id="save-event">Salveaza modificarile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
