<nav class="navbar navbar-inverse" style="background-color: #0065ff;border-radius: 0;border: none"  >
    <div class="container-fluid" ng-controller="dataCtrl">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/coat_of_arms.png" style="width: 100%" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 3%">
                    <p>Ministerul Jusitiei</p>
                    <p>e-Executor</p>
                </div>
            </div>
        </div>

        <form class="navbar-form navbar-left" ng-repeat="item in items">
                    <span style="color: white">Licenta {{item.nr}} , {{item.name}}.</span><br>
                    <span>Sediu.{{item.location}} , str {{item.street}}</span><br>
                    <span>Tel. tel/fax {{item.telmain}} , {{item.phone}}</span><br>
                    <span>Email:{{item.mail}}</span>
        </form>
        <style>
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
            }
        </style>
        <ul class="nav navbar-nav navbar-right" ng-repeat="item in items">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img style="vertical-align: middle;text-align: center;padding-left: 30px;"
                         src="images/user26.png" alt="">
                    <p style="color: white"> {{item.name}}</p>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="settings()" >Profile settings</a></li>
                    <li><a href="" ng-click="">LogOut</a></li>
                </ul>
            </li>
            <li>
                <a  href="" ui-sref="calendar">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/calendar1.png" alt="" >
                    <p style="color: white">Calendar</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img style="vertical-align: middle;text-align: center;padding-left: 15px"
                         src="images/settings.png" alt="">
                    <p style="color: white">Notificare</p>
                </a>
            </li>

        </ul>
    </div>
</nav>

<div class="row" style="margin-right: 0!important;" >
    <div class="col-md-2">
        <div class="">
            <div class="left-menu" style="height: 100vh;width: 100%">
                <div class="accordion">
                    <div class="navigation">
                        <style>
                            .btn {
                                width: 100%;
                            }
                        </style>
                        <br>
                        <button ui-sref="dosareStat" class="btn btn-success"  type="button" id="dosarestat" >Dosare Stat</button>
                        <hr>
                        <button ui-sref="dosarePensiiAlimentare" class="btn btn-success" type="button" id="dosarepensii" >Dosare Pensii Alimentare</button>
                        <hr>
                        <button ui-sref='dosareCivile' class="btn btn-success" type="button" id="civile">Dosare Civile</button>
                        <hr>
                        <button ui-sref="dosareMele" class="btn btn-success" type="button" id="dosaremele">Dosare mele</button>
                        <hr>
                        <button ui-sref="registruIntari" class="btn btn-success" type="button" id="deleteplayer">Rigistru Intrari</button>
                        <hr>
                        <button ui-sref="registruIesirii" class="btn btn-success" type="button" id="deletegame">Registru Iesiri</button>
                        <hr>
                        <button ui-sref="registruServicii" class="btn btn-success" type="button" id="addplayermatch">Registru Servicii</button>
                        <hr>
                        <button ui-sref="rapoarte" class="btn btn-success" type="button" id="deleteplayermatch">Rapoarte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10" ng-controller="dataCtrl">
        <div  class="content" ng-controller="statCtrl">
            <br>
            <div>

                <table class="table  table-bordered table-striped myTable">
                    <thead>
                    <style>
                        th {
                            background-color: white!important;
                            color: #337ab7!important;
                            font-weight: 100!important;
                        }
                    </style>
                    <tr>
                        <th class="EmpId"><a href="" ng-click="sort('id',$event)">Procedura
                            <span class="{{Header[0]}}"></span>
                        </a>

                        </th>
                        <th class="name"><a ng-click="sort('debitor')" href="" style="font-weight: 100"> Debitorul
                            <span class="{{Header[1]}}"></span></a>
                        </th>
                        <th class="Email"><a ng-click="sort('creditor')" href=""> Creditorul
                            <span class="{{Header[2]}}"></span></a>
                        </th>
                        <th class="Email"><a ng-click="sort('creditor')" href=""> Obiectul
                            <span class="{{Header[2]}}"></span></a>
                        </th>
                        <th style="width: 10%">
                            <form>
                                <input type="text" class="form-control" placeholder="Suma" ng-model="searchSum">
                            </form>
                        </th>
                        <th class="Email"> Stare</th>
                        <th> Responsabil</th>
                        <th class="Email"> Actiuni</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="item in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse | filter:searchSum">
                        <td>{{item.nr }}</td>
                        <td>{{item.debitor }}</td>
                        <td>{{item.creditor }}</td>
                        <td>{{item.type }}</td>
                        <td>{{item.cuantum }}</td>
                        <td>{{item.stare}}</td>
                        <td>{{item.responsabil }}</td>
                        <td>
                            <button type="button" class="" style="width: 30%" >
                                <span  class="glyphicon glyphicon-copy" ui-sref="viewsstepsdosar({fd:item.nr ,fcreditor:item.creditor ,fdebitor:item.debitor})" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="" style="width: 30%">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="" style="width: 30%">
                                <span class="glyphicon glyphicon-eye-open" ui-sref="steps({fd:item.nr,fcreditor:item.creditor ,fdebitor:item.debitor , fsum :item.cuantum ,fstare:item.stare })" aria-hidden="true"></span>
                            </button>
                        </td>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <ul class="pagination pagination-sm">
                    <li ng-class="{active:0}"><a href="" ng-click="firstPage()">First</a>

                    </li>
                    <li ng-repeat="n in range(ItemsByPage.length)"><a href="" ng-click="setPage()" ng-bind="n+1">1</a>

                    </li>
                    <li><a href="" ng-click="lastPage()">Last</a>

                    </li>
                </ul>

            </div>
        </div>

    </div>



</div>

