<nav class="navbar navbar-inverse" style="background-color: #0065ff;border-radius: 0;border: none">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/coat_of_arms.png" style="width: 100%" alt="">
                </div>
                <div class="col-md-4" style="margin-top: 3%">
                    <p>Ministerul Jusitiei</p>
                    <p>e-Executor</p>
                </div>
            </div>
        </div>

        <form class="navbar-form navbar-left">

        </form>
    </div>
</nav>
<div class="container" ng-controller="loginCtrl" >
    <div class="row">
        <div class="col-md-4">
            <img src="images/login_quill.png" style="width: 100%;margin-top: 20%" alt="">
        </div>
        <div class="col-md-8">
            <div class="card card-container" style="margin-top: 5%">
                <p style="font-family: 'Segoe UI',sans-serif;font-weight: 500;font-size: xx-large">E-executor</p>
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">
                    <span  class="reauth-email" style="float: left;font-size: large">Utilizator</span>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Utilizator" ng-model="username" >

                    <span  class="reauth-email" style="float: left;font-size: large">Parola</span>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Parola" ng-model="password">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"  style="width: 50%" ng-click="login()" >Sign in</button>
                </form>
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
            </div>

        </div>
    </div>
</div>