
<button style="float: right;margin-right:1%;width: 25%" type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModalOrg">New Organization</button>
<br><br>

<style>
    th {
        background-color: white!important;
        color: #337ab7!important;
        font-weight: 100!important;
    }
</style>
<br>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>CreatedDate</th>
        <th>Active</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Sectorul Riscani</td>
        <td>str. Kiev 3/1</td>
        <td>0(00) 00-00-00</td>
        <td>02.08.2014</td>
        <td>
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: right!important;">
            <input type="checkbox" checked>
            <span class="checkbox-placeholder" ></span>
        </label>
        </td>
        <td>
            <button type="button" class="" style="width: 30%" >
                <span  class="glyphicon glyphicon-copy"  aria-hidden="true"></span>
            </button>
            <button type="button" class="" style="width: 30%">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: right!important;">
                <input type="checkbox" >
                <span class="checkbox-placeholder" ></span>
            </label>
        </td>
    </tr>
    </tbody>
</table>



<div class="modal fade" id="myModalOrg" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Organization</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="usr">Address:</label>
                    <input type="text" class="form-control" id="address">
                </div>
                <div class="form-group">
                    <label for="usr">Organization:</label>
                    <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>