<button style="float: right;margin-right:1%;width: 25%" type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModalRole">New Role</button>
<br><br>

<style>
    th {
        background-color: white!important;
        color: #337ab7!important;
        font-weight: 100!important;
    }
</style>
<br>
<table class="table table-bordered" style="width: 50%;margin-left: 25%">
    <thead>
    <tr>
        <th style="width: 10px"></th>
        <th>Permission Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: !important;">
            <input type="checkbox" >
            <span class="checkbox-placeholder" ></span>
        </label></td>
        <td>Create Dosar</td>
        <td>Create dosar</td>
    </tr>
    <tr>
        <td>
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: !important;">
                <input type="checkbox" >
                <span class="checkbox-placeholder" ></span>
            </label></td>
        <td>Create Document</td>
        <td>Create document in Dosar</td>
    </tr>
    <tr>
        <td>
            <label class="checkbox-inline checkbox-bootstrap checkbox-lg" style="float: !important;">
                <input type="checkbox" >
                <span class="checkbox-placeholder" ></span>
            </label></td>
        <td>Change user dosar </td>
        <td>Schimba persoana responsabila pe dosar</td>
    </tr>
    </tbody>
</table>



<div class="modal fade" id="myModalRole" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Organization</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Permission name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="usr">Permission Description:</label>
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>